allow bluetooth_loader bluetooth_data_file:dir rw_dir_perms;
allow bluetooth_loader bluetooth_data_file:file create_file_perms;

allow bluetooth_loader oeminfo_device:dir { remove_name write search };
allow bluetooth_loader oeminfo_device:file { getattr open read unlink };
allow bluetooth_loader oeminfo:unix_stream_socket connectto;
allow bluetooth_loader oeminfo_socket:sock_file write;
