allow kernel log_device:dir search;
allow kernel log_device:dir write;
allow kernel log_device:dir add_name;
allow kernel log_device:file create;
allow kernel log_device:file { read write open };

