allow mediaserver smartamp_device:chr_file { read write ioctl open };
allow mediaserver audiod:binder call;
allow mediaserver camera_data_file:dir search;
