type signinfolistener, domain;
type signinfolistener_exec, exec_type, file_type;

allow signinfolistener tee_device:chr_file rw_file_perms;
allow signinfolistener hal_fingerprint_default:dir r_dir_perms;
allow signinfolistener hal_fingerprint_default:file r_file_perms;

allow signinfolistener ion_device:chr_file rw_file_perms;

# It read /data/system/packages.xml which I am afraid to relabel, so let's let it do
# crazy reading of system data files.
allow signinfolistener system_data_file:file r_file_perms;

# Somehow everyone wants to read the attributes of this
# just ignore it
dontaudit domain signinfolistener_exec:file getattr;

init_daemon_domain(signinfolistener)
