type signinfolistener, domain;
type signinfolistener_exec, exec_type, file_type;

allow signinfolistener rootfs:file entrypoint;
allow signinfolistener tee_device:chr_file rw_file_perms;
allow signinfolistener fingerprintd:dir r_dir_perms;
allow signinfolistener fingerprintd:file r_file_perms;

# It read /data/system/packages.xml which I am afraid to relabel, so let's let it do
# crazy reading of system data files.
allow signinfolistener system_data_file:file r_file_perms;


init_daemon_domain(signinfolistener)
