allow vendor_init fingerprintd_data_file:dir { create setattr };
allow vendor_init wifi_data_file:dir create_dir_perms;
allow vendor_init proc_kernel_sched:file write;
allow vendor_init proc_printk:file write;
