allow wcnss_service oeminfo:unix_stream_socket connectto;

# HAX
allow wcnss_service device:dir { remove_name write };
allow wcnss_service device:file { getattr open read unlink };
allow wcnss_service socket_device:sock_file write;
