allow wcnss_service oeminfo:unix_stream_socket connectto;

allow wcnss_service oeminfo_device:dir { remove_name write search };
allow wcnss_service oeminfo_device:file { getattr open read unlink };
allow wcnss_service oeminfo_socket:sock_file write;
